@page
@model IdentityWebApplication.Pages.UserModel
@{
}
<h2 class="text-center">Wel come to your account</h2>

<div>
    First Name: @Model.appUser?.FirstName
</div>

<div>
    Last Name: @Model.appUser?.LastName
</div>

<div>
    Email: @Model.appUser?.Email
</div>